@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
$mainRed: #DE1537;
$darkRed: #8F0C25;
$blue: #27a4f3;
$grey: #dedede;
$green: #4ca459;

body {
  font-family: 'Roboto', sans-serif;
  background: $grey;
  overflow: hidden;
}

*{
  box-sizing: border-box;
}

.pokedex{
  position: relative;
  display: block;
  width: 100%;
  max-width: 400px;
  height: 700px;
  background: $mainRed;
  margin: 400px auto;
  overflow: hidden;
  border: 2px solid black;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;

  .btn1{
    position: relative;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.562);
    background: rgb(17, 148, 255);

     &.hover{
       color: blue;
     }
  }

  

  h1{
    display: block;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin: 25px 0 ;
  }
  h3{
    display: block;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    margin: 25px 0 ;
  }

  form{
    text-align: center;
  }

  input[type="text"]{
    font-size: 2rem;
    margin: 25px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid $grey;
    text-align: center;
  }
  .btn{
    margin: 5px;
    display: inline-block;
    padding: 15px 20px;
    background: $blue;
    color: white;
    cursor: pointer;
    border-radius: 5%;
  }

  h6{
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    font-weight: 700;
  }
  ul{
    margin: 0 auto;
    width: 70%;
  }

  // .btn2{
  //   margin: 5px;
  //   display: inline-block;
  //   padding: 15px 22px;
  //   background: $blue;
  //   color: white;
  //   cursor: pointer;
  //   border-radius: 5%;
  // }

  
  .loading-container{
    background: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    display: none;

    &.active{
      display: flex;
    }
  }
}

.list{
  width: 100%;
  max-width: 400px;
  height: 500px;
  position: relative;
  bottom: 900px;
  left: 949px;
  background: $mainRed;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  border: 2px solid black;
  display: none;
  
  
  .container{
    padding: 100px;
    height: 100%;
    width: 100%;
    
  }
    .name{
      padding: 5px;
    font-weight: bold;
    text-align: center;
    background: $grey;
    }
}


.poke-img{
  width: 150px;
  height: 150px;
  border: 5px solid $grey;
  display: block;
  margin: 0 auto;
  background: white;
  border-radius: 5px;

  img{
    width: 100%;
  }
}
